body{
	font-family: monospace;
	outline: none;

	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.navbar-inverse{
	background-color: #fb8b1b ;
	border-color: transparent;
}

.navbar-inverse .navbar-brand{
	color: #000;
	font-size: 30px;
	margin-right: 40px;
}

#myNavbar .navbar-nav li a{
   
	color: #fff;
	font-size: 19px;
	}
#myNavbar #course{
	transition: all 0.3s ease-in-out;
}
#myNavbar #course:hover{
	background-color:#000; 

}	
.dropdown-menu{
    width: 200px;
  
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown:hover .dropdown-menu {display: block;transition: all 0.5s ease-in-out;}

.dropdown .dropdown-menu a:hover{background-color: #c9c7c7;}



#sub-dropdown:hover #sub-dropdown-menu {display: block;}